@model Frontend.Models.AuthenticatorViewModel
@{
    ViewBag.Title = "Authenticator";
}

<div class="content">
    @using (Html.BeginForm("Authenticator", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.Partial("_LogoPartial")

        <h3 class="form-title font-blue-steel">@(ViewBag.Title)</h3>

        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

        @*<canvas id="qr-code-canvas"></canvas>*@
        @*<p id="qr-code-div" class="qrcode text-center"></p>*@

        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>Enter your username and password.</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Factor, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.TextBoxFor(m => m.Factor, new { @class = "form-control form-control-solid placeholder-no-fix", autocomplete = "off", placeholder = "Two Fator Authentication Password" })
            @Html.ValidationMessageFor(m => m.Factor, "", new { @class = "text-danger" })
        </div>

        <div class="form-actions">
            <button type="submit" class="btn blue-steel uppercase">Continue</button>
        </div>

        <div class="create-account">
            <p>@Html.ActionLink("Return to Login", "Login", null, new { @class = "uppercase" })</p>
        </div>
    }
</div>

@*@section Scripts {
    <script type="text/javascript">
        jQuery(function() {
            var qrcode = 'otpauth://totp/blazedsp?secret=@(ViewBag.Key)';

            //qr.canvas({
            //    canvas: document.getElementById('qr-code'),
            //    value: qrcode,
            //    background: 'transparent',
            //    foreground: '#333333'
            //});

            new window.QRCode('qr-code-div', {
                text: qrcode,
                width: 200,
                height: 200,
                colorDark: '#333333',
                colorLight: 'transparent'
                //correctLevel: window.QRCode.CorrectLevel.M
            });
        });
    </script>
}*@
