<div class="row">
    <div class="col-lg-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <!--<i class="icon-pie-chart"></i>-->
                    <span class="caption-subject font-blue-madison bold uppercase">Top Countries</span>
                    <span class="caption-helper">All Time</span>
                </div>
                <div class="actions">
                    <!-- BUG: Without the 'btn-group' the drop down breaks (theme issue) -->
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown" style="border-radius: 3px;">
                            <i class="fa fa-bars"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-pdf-o"></i>
                                    Export PDF
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-image-o"></i>
                                    Export JPG
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-image-o"></i>
                                    Export PNG
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-code-o"></i>
                                    Export SVG
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="table-scrollable table-scrollable-borderless">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr>
                                        <th>Country</th>
                                        <th>Clicks</th>
                                        <!--<th>% Clicks</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="/Images/flags/GoSquared/flags-iso/shiny/16/US.png" alt="" />
                                            United States
                                        </td>
                                        <td>{{format-number '125125'}}</td>
                                        <!--<td>47.82%</td>-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="/Images/flags/GoSquared/flags-iso/shiny/16/CA.png" alt="" />
                                            Canada
                                        </td>
                                        <td>{{format-number '65656'}}</td>
                                        <!--<td>25.09%</td>-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="/Images/flags/GoSquared/flags-iso/shiny/16/AU.png" alt="" />
                                            Australia
                                        </td>
                                        <td>{{format-number '35635'}}</td>
                                        <!--<td>13.62%</td>-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="/Images/flags/GoSquared/flags-iso/shiny/16/FR.png" alt="" />
                                            France
                                        </td>
                                        <td>{{format-number '23232'}}</td>
                                        <!--<td>8.88%</td>-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="/Images/flags/GoSquared/flags-iso/shiny/16/_unknown.png" alt="" />
                                            Other
                                        </td>
                                        <td>{{format-number '12011'}}</td>
                                        <!--<td>4.95%</td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="chart_top_countries" style="width: 100%; height: 225px; background-color: #FFFFFF;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-madison bold uppercase">Top OS</span>
                    <span class="caption-helper">All Time</span>
                </div>
                <div class="actions">
                    <!-- BUG: Without the 'btn-group' the drop down breaks (theme issue) -->
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown" style="border-radius: 3px;">
                            <i class="fa fa-bars"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-pdf-o"></i>
                                    Export PDF
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-image-o"></i>
                                    Export JPG
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-image-o"></i>
                                    Export PNG
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-code-o"></i>
                                    Export SVG
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="table-scrollable table-scrollable-borderless">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr>
                                        <th>OS</th>
                                        <th>Clicks</th>
                                        <!--<th>% Clicks</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <i class="icomoon-windows8"></i>
                                            Windows
                                        </td>
                                        <td>{{format-number '125125'}}</td>
                                        <!--<td>47.82%</td>-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="icomoon-apple"></i>
                                            Apple
                                        </td>
                                        <td>{{format-number '65656'}}</td>
                                        <!--<td>25.09%</td>-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="icomoon-tux"></i>
                                            Linux
                                        </td>
                                        <td>{{format-number '35635'}}</td>
                                        <!--<td>13.62%</td>-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="icomoon-android"></i>
                                            Android
                                        </td>
                                        <td>{{format-number '23232'}}</td>
                                        <!--<td>8.88%</td>-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="icomoon-question"></i>
                                            Other
                                        </td>
                                        <td>{{format-number '12011'}}</td>
                                        <!--<td>4.95%</td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="chart_top_os" style="width: 100%; height: 225px; background-color: #FFFFFF;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="portlet light grid-stack-item-content">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Top Campaigns</span>
                    <span class="caption-helper">All Time</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">
                            Today
                        </label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">
                            Week
                        </label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">
                            Month
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row number-stats margin-bottom-30">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="stat-left">
                            <!--<div class="stat-chart">-->
                            <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                            <!--<div id="sparkline_bar">
                                </div>
                            </div>-->
                            <div class="stat-number">
                                <div class="title">
                                    First
                                </div>
                                <div class="number">
                                    15.5%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="stat-center">
                            <div class="stat-number">
                                <div class="title">
                                    Second
                                </div>
                                <div class="number">
                                    10.9%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="stat-right">
                            <div class="stat-number">
                                <div class="title">
                                    Third
                                </div>
                                <div class="number">
                                    7.6%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th>Campaign</th>
                                <th>Cost</th>
                                <th>Revenue</th>
                                <th>Profit</th>
                                <th>RIO</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{!#each campaign in campaigns}}
                            <tr>
                                <td>{{!campaign.name}}</td>
                                <td>$345</td>
                                <td>$345</td>
                                <td>$345</td>
                                <td><span class="bold theme-font">80%</span></td>
                            </tr>
                            {{!/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="portlet light grid-stack-item-content">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Top Flights</span>
                    <span class="caption-helper">All Time</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">
                            Today
                        </label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">
                            Week
                        </label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">
                            Month
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row number-stats margin-bottom-30">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="stat-left">
                            <!--<div class="stat-chart">-->
                            <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                            <!--<div id="sparkline_bar">
                                </div>
                            </div>-->
                            <div class="stat-number">
                                <div class="title">
                                    First
                                </div>
                                <div class="number">
                                    15.5%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="stat-center">
                            <div class="stat-number">
                                <div class="title">
                                    Second
                                </div>
                                <div class="number">
                                    10.9%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="stat-right">
                            <div class="stat-number">
                                <div class="title">
                                    Third
                                </div>
                                <div class="number">
                                    7.6%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th>Flight</th>
                                <th>Cost</th>
                                <th>Revenue</th>
                                <th>Profit</th>
                                <th>RIO</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{!#each flight in flights}}
                            <tr>
                                <td>{{!flight.name}}</td>
                                <td>$345</td>
                                <td>$345</td>
                                <td>$345</td>
                                <td><span class="bold theme-font">80%</span></td>
                            </tr>
                            {{!/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col-lg-6">
        <div class="portlet light grid-stack-item-content">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Performace</span>
                    <span class="caption-helper">Campaigns</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <div class="">
                            <i class="icomoon-windows8 fa-2x"></i>
                        </div>
                        <h4>Windows</h4>
                    </div>

                    <div class="col-lg-6">
                        <i class="icomoon-tux"></i>
                        <i class="icomoon-apple"></i>
                        <i class="icomoon-finder"></i>
                        <i class="icomoon-android"></i>
                        <i class="icomoon-windows"></i>
                        <i class="icomoon-windows8"></i>
                        <i class="icomoon-chrome"></i>
                        <i class="icomoon-firefox"></i>
                        <i class="icomoon-IE"></i>
                        <i class="icomoon-opera"></i>
                        <i class="icomoon-safari"></i>
                    </div>
                    <div class="col-lg-6">
                        <img src="/Images/flags/GoSquared/flags-iso/shiny/64/_unknown.png" alt="" />
                        <img src="/Images/flags/GoSquared/flags-iso/shiny/64/AU.png" alt="" />
                        <img src="/Images/flags/GoSquared/flags-iso/shiny/64/US.png" alt="" />
                        <img src="/Images/flags/GoSquared/flags-iso/shiny/64/GB.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font-color hide"></i>
                    <span class="caption-subject theme-font-color bold uppercase">Feeds</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1_1" data-toggle="tab">
                            System
                        </a>
                    </li>
                    <li>
                        <a href="#tab_1_2" data-toggle="tab">
                            Activities
                        </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="scroller" style="height: 250px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <ul class="feeds">
                                <li>
                                    <a href="javascript:;">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-info">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                       New Flight Created
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date">
                                                Just now
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-warning">
                                                        <i class="fa fa-exclamation-triangle"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        Flight Failed to meet target
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date">
                                                24 mins
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-danger">
                                                        <i class="fa fa-bolt"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        Node Reported Error
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date">
                                                24 mins
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_1_2">
                        <div class="scroller" style="height: 250px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <ul class="feeds">
                                <li>
                                    <a href="javascript:;">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-bell-o"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        New user registered
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date">
                                                Just now
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-danger">
                                                        <i class="fa fa-bolt"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        Order #24DOP4 has been rejected
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date">
                                                24 mins
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 grid-stack-item" data-gs-x="6" data-gs-y="10" data-gs-width="6" data-gs-height="5">
        <div class="portlet light tasks-widget grid-stack-item-content">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Tasks</span>
                    <span class="caption-helper">16 pending</span>
                </div>
                <div class="inputs">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="search...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="task-content">
                    <div class="scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                        <ul class="task-list">
                            <li>
                                <div class="task-checkbox">
                                    <input type="hidden" value="1" name="test" />
                                    <input type="checkbox" class="liChild" value="2" name="test" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">
                                        Present 2013 Year IPO Statistics at Board Meeting
                                    </span>
                                    <span class="label label-sm label-success">Company</span>
                                    <span class="task-bell">
                                        <i class="fa fa-bell-o"></i>
                                    </span>
                                </div>
                                <div class="task-config">
                                    <div class="task-config-btn btn-group">
                                        <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-check"></i> Complete
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i> Cancel
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <input type="checkbox" class="liChild" value="" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">
                                        Hold An Interview for Marketing Manager Position
                                    </span>
                                    <span class="label label-sm label-danger">Marketing</span>
                                </div>
                                <div class="task-config">
                                    <div class="task-config-btn btn-group">
                                        <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-check"></i> Complete
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i> Cancel
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <input type="checkbox" class="liChild" value="" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">
                                        AirAsia Intranet System Project Internal Meeting
                                    </span>
                                    <span class="label label-sm label-success">AirAsia</span>
                                    <span class="task-bell">
                                        <i class="fa fa-bell-o"></i>
                                    </span>
                                </div>
                                <div class="task-config">
                                    <div class="task-config-btn btn-group">
                                        <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-check"></i> Complete
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i> Cancel
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <input type="checkbox" class="liChild" value="" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">
                                        Technical Management Meeting
                                    </span>
                                    <span class="label label-sm label-warning">Company</span>
                                </div>
                                <div class="task-config">
                                    <div class="task-config-btn btn-group">
                                        <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-check"></i> Complete
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i> Cancel
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <input type="checkbox" class="liChild" value="" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">
                                        Kick-off Company CRM Mobile App Development
                                    </span>
                                    <span class="label label-sm label-info">Internal Products</span>
                                </div>
                                <div class="task-config">
                                    <div class="task-config-btn btn-group">
                                        <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-check"></i> Complete
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i> Cancel
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <input type="checkbox" class="liChild" value="" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">
                                        Prepare Commercial Offer For SmartVision Website Rewamp
                                    </span>
                                    <span class="label label-sm label-danger">SmartVision</span>
                                </div>
                                <div class="task-config">
                                    <div class="task-config-btn btn-group">
                                        <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-check"></i> Complete
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i> Cancel
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <input type="checkbox" class="liChild" value="" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">
                                        Sign-Off The Comercial Agreement With AutoSmart
                                    </span>
                                    <span class="label label-sm label-default">AutoSmart</span>
                                    <span class="task-bell">
                                        <i class="fa fa-bell-o"></i>
                                    </span>
                                </div>
                                <div class="task-config">
                                    <div class="task-config-btn btn-group">
                                        <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-check"></i> Complete
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i> Cancel
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <input type="checkbox" class="liChild" value="" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">
                                        Company Staff Meeting
                                    </span>
                                    <span class="label label-sm label-success">Cruise</span>
                                    <span class="task-bell">
                                        <i class="fa fa-bell-o"></i>
                                    </span>
                                </div>
                                <div class="task-config">
                                    <div class="task-config-btn btn-group">
                                        <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-check"></i> Complete
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i> Cancel
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="last-line">
                                <div class="task-checkbox">
                                    <input type="checkbox" class="liChild" value="" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">
                                        KeenThemes Investment Discussion
                                    </span>
                                    <span class="label label-sm label-warning">KeenThemes </span>
                                </div>
                                <div class="task-config">
                                    <div class="task-config-btn btn-group">
                                        <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-check"></i> Complete
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i> Cancel
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="task-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="#">See All Tasks</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 grid-stack-item" data-gs-x="6" data-gs-y="5" data-gs-width="6" data-gs-height="5">
        <div class="portlet light grid-stack-item-content">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">
                        Alerts
                    </span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_flights" data-toggle="tab">
                            Flight
                            <span class="label bg-grey" style="float: right; margin-left: 5px;">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab_campaigns" data-toggle="tab">
                            Campaign
                            <span class="label bg-grey" style="float: right; margin-left: 5px;">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab_system" data-toggle="tab">
                            System
                            <span class="label bg-grey" style="float: right; margin-left: 5px;">0</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_flights">
                        No Flight Alerts
                    </div>
                    <div class="tab-pane" id="tab_campaigns">
                        No Campaign Alerts
                    </div>
                    <div class="tab-pane" id="tab_system">
                        No System Alerts
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>